<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HealthExaminationSystem.ThirdParty.DataTransmission.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HealthExaminationSystem.ThirdParty.DataTransmission.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="HealthExaminationSystem.ThirdParty.DataTransmission.Properties.Settings.lisInterfaceConnectionString"
      connectionString="Server=.; Database=TJ_Zhongjianku; User Id=sa; Password=123456;MultipleActiveResultSets=True;"
		
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <HealthExaminationSystem.ThirdParty.DataTransmission.Properties.Settings>
      <setting name="CheckDoctor" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="AuditDoctor" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MonitoringFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="InstrumentId" serializeAs="String">
        <value />
      </setting>
      <setting name="MonitoringFolderOfData" serializeAs="String">
        <value />
      </setting>
      <setting name="SqlConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="DbType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="url" serializeAs="String">
        <value />
      </setting>
      <setting name="methodname" serializeAs="String">
        <value />
      </setting>
      <setting name="classname" serializeAs="String">
        <value />
      </setting>
    
    </HealthExaminationSystem.ThirdParty.DataTransmission.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <HealthExaminationSystem.ThirdParty.DataTransmission.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="Pwd" serializeAs="String">
        <value>123qwe</value>
      </setting>
      <setting name="Tenant" serializeAs="String">
        <value>Test</value>
      </setting>
    </HealthExaminationSystem.ThirdParty.DataTransmission.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!--本机开发使用 API-->
    <add key="apiurl" value="http://192.168.1.100:8001/api/services/app/" />
    <add key="loginurl" value="http://192.168.1.100:8001/api/" />
    <add key="url" value="http://192.168.1.100:8001/" />
    <!--<add key="ApiUrl" value="http://192.168.1.100:8001/api/services/app/" />
    <add key="LoginUrl" value="http://192.168.1.100:8001/api/" />
    <add key="Url" value="http://192.168.1.100:8001/" />-->
    <!--其它未知配置-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
     <!--图片监控路径-->
    <add key="DownImagePath" value="E:\5977\img"/>
    <!--图片上传路径-->
    <add key="UPImagePath" value="E:\5977\img"/>
    <!--体检连接-->
    <add key="SqlDBConn" value="Server=.;database=TJ_Zhongjianku;User ID=sa;Password=123456;"/>
    <!--检查医生-->
    <add key="JCdoc" value="张三"/>
    <!--审核医生-->
    <add key="SHdoc" value="李四"/>
    <!--检查组合-->
    <add key="JCItemName" value="心电图"/>
    <!--是否删除-->
    <add key="ISDelete" value="Y"/>
  </appSettings>
</configuration>